body {
  height: 100vh;
  background-color: rgb(245, 168, 53);
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(192, 140, 62);
  width: 100%;
  padding: 0px;
}

img {
  width:20%;
  max-height: 30%;
}

h1 {
  font-size: 48px;
}

.play-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

playCardBtn{
  border-radius: 4px;
  background-color: gray
}