body {
  height: 100vh;
  background-color: rgb(240, 222, 121);
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 187, 136);
  width: 100%;
  height: 120px;
  margin-right: 500px;
}

img {
  height: auto;
  width: 20%;
  margin-top: 700px;
  margin-right: 1000px;
}

h1 {
  font-size: 48px;
}

#message {
  margin-top: 100px;
  font-size: 28px;
  text-align: center;
  padding: 0px;
}

#start {
  cursor: pointer;
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
}

.computer-win-container {
  display: flex;
  justify-content: flex-start;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.player-win-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.button-container{
  flex: display;
  justify-content: space-around;
  
}

#play-card-btn {
  cursor: pointer;
  border-radius: 10px;
  font-size: 24px;
}

#reset{
  cursor: pointer;
  border-radius: 10px;
  font-size: 24px;
}

